<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">


	<!-- 查询（根据主键ID查询） -->
	<select id="selectById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		 SELECT
		 id
		 FROM user
		 WHERE id = #{id}
	</select>

</mapper>